* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color:beige;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(121, 0, 101, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #019220;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    input, select, button {
        padding: 8px;
    }
}
body{
	background-color:rgb(16, 4, 2);
}